/* browser style reset code */
*{margin: 0;
padding: 0;
outline: 0;
box-sizing: border-box;}

body{ font-family: "Poppins", sans-serif;
background-color:#FAFAFA;}

.cointiner{
    padding: 0px 180px;
}
/* nav section style here */
.nav-area{
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(230, 228, 228);}

.logo{display: flex;
align-items: center;
gap: 0px 15px;}
.logo h4{font-size: 20px;}

.menu-area{display: flex;
align-items: center;
gap: 0px 15px;}

.discover-button{
    text-decoration: none;
    background-color: rgb(241, 241, 241);
    color: black;
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 100px;
    font-weight: 500;}

.login-button{
    text-decoration: none;
    background-color: #607AFC;
    color: black;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 100px;
    font-weight: 500;
    color: white;}

    .menu-area img{width: 40px;
border: 3px solid rgb(97, 95, 95);
border-radius: 50%;}
/* navbar area end here */

/* baner area style start here */
.baner-area{display: flex;
    justify-content: space-between;
    align-items: center;
padding-top: 80px;
padding-bottom: 80px;}
    
.baner-img{height: 250px;
width: 350px;
border-radius: 5px;
padding-right: 30px;}

.baner-text-area h1{
    font-size: 55px;
    font-weight: 600;
    line-height: 60px;}

.baner-text-area p{font-size: 17px;
padding-top: 10px;}

.baner-text-area button{
    margin-top: 15px;
    padding: 8px 12px;
    background-color: #607AFC;
    border: 1px solid #607AFC;
    border-radius: 100px;
    color: white;
    font-size: 15px;}
    /* baner area end here */

/* why choose us section start here */
.why-choose-area h1{font-size: 30px;}

.why-choose-area p{font-size: 16px;
padding-top: 10px;}

.card-cointiner{padding-top: 30px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;}

.card{
    border: 1px solid lightgrey;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px lightgrey;
border-radius: 10px;
width: 100%;}

.card h4{padding-top: 15px;
line-height: 3px;
font-weight: 600;}

.card p{font-size: 14px;
color: gray;}

/* why choose us section end here  */
/* image section start here */

.images{width: 300px;
    height: 190px;
border-radius: 10px;}

.image-cointiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 50px;
}
.img-card{
border-radius: 10px;
background-color: white;
border: 1px solid lightgrey;
box-shadow: 1px 1px 10px lightgrey;}

.img-card h5{font-size: 18px;
padding-left: 10px;}

.img-card p{font-size: 15px;
color: grey; padding-left: 10px;}

.img-card button{background-color: lightgrey;
font-weight: 700;
border-radius: 100px;
border: 1px solid lightgray;
padding: 8px 20px;
margin-top: 15px;
margin-left: 10px;}

#button-1{margin-top: 36px;}
#button-2{margin-top: 36px;}
/* image section end here */




















